<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hk.ljx.fishhub.count.biz.domain.mapper.NoteCountDOMapper">
  <resultMap id="BaseResultMap" type="hk.ljx.fishhub.count.biz.domain.dataobject.NoteCountDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="note_id" jdbcType="BIGINT" property="noteId" />
    <result column="like_total" jdbcType="BIGINT" property="likeTotal" />
    <result column="collect_total" jdbcType="BIGINT" property="collectTotal" />
    <result column="comment_total" jdbcType="BIGINT" property="commentTotal" />
  </resultMap>

  <sql id="Base_Column_List">
    id, id as note_id, like_count as like_total, collect_count as collect_total, comment_count as comment_total
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_note
    where id = #{id,jdbcType=BIGINT} and status = 1
  </select>

  <select id="selectByNoteIds" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_note
    where id in
    <foreach collection="noteIds" item="noteId" open="(" separator="," close=")">
      #{noteId}
    </foreach>
    and status = 1
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    update t_note set status = 2 where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="hk.ljx.fishhub.count.biz.domain.dataobject.NoteCountDO">
    update t_note
    set like_count = #{likeTotal},
        collect_count = #{collectTotal},
        comment_count = #{commentTotal}
    where id = #{noteId}
  </insert>

  <insert id="insertSelective" parameterType="hk.ljx.fishhub.count.biz.domain.dataobject.NoteCountDO">
    update t_note
    <set>
      <if test="likeTotal != null">
        like_count = #{likeTotal},
      </if>
      <if test="collectTotal != null">
        collect_count = #{collectTotal},
      </if>
      <if test="commentTotal != null">
        comment_count = #{commentTotal},
      </if>
    </set>
    where id = #{noteId}
  </insert>

  <update id="insertOrUpdateLikeTotalByNoteId" parameterType="map">
    UPDATE t_note
    SET like_count = GREATEST(0, like_count + #{count})
    WHERE id = #{noteId}
  </update>

  <update id="insertOrUpdateCollectTotalByNoteId" parameterType="map">
    UPDATE t_note
    SET collect_count = GREATEST(0, collect_count + #{count})
    WHERE id = #{noteId}
  </update>

  <update id="insertOrUpdateCommentTotalByNoteId" parameterType="map">
    UPDATE t_note
    SET comment_count = GREATEST(0, comment_count + #{count})
    WHERE id = #{noteId}
  </update>

  <update id="updateByPrimaryKeySelective" parameterType="hk.ljx.fishhub.count.biz.domain.dataobject.NoteCountDO">
    update t_note
    <set>
      <if test="likeTotal != null">
        like_count = #{likeTotal},
      </if>
      <if test="collectTotal != null">
        collect_count = #{collectTotal},
      </if>
      <if test="commentTotal != null">
        comment_count = #{commentTotal},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <update id="updateByPrimaryKey" parameterType="hk.ljx.fishhub.count.biz.domain.dataobject.NoteCountDO">
    update t_note
    set like_count = #{likeTotal},
      collect_count = #{collectTotal},
      comment_count = #{commentTotal}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>
