<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hk.ljx.fishhub.count.biz.domain.mapper.UserCountDOMapper">
  <resultMap id="BaseResultMap" type="hk.ljx.fishhub.count.biz.domain.dataobject.UserCountDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="fans_total" jdbcType="BIGINT" property="fansTotal" />
    <result column="following_total" jdbcType="BIGINT" property="followingTotal" />
    <result column="note_total" jdbcType="BIGINT" property="noteTotal" />
    <result column="like_total" jdbcType="BIGINT" property="likeTotal" />
    <result column="collect_total" jdbcType="BIGINT" property="collectTotal" />
  </resultMap>

  <sql id="Base_Column_List">
    id, id as user_id, fans_count as fans_total, following_count as following_total, 
    note_count as note_total, like_count as like_total, collect_count as collect_total
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_user
    where id = #{id,jdbcType=BIGINT} and is_deleted = 0
  </select>

  <select id="selectByUserId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_user
    where id = #{userId} and is_deleted = 0
  </select>

  <select id="selectByUserIds" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_user
    where id in
    <foreach collection="userIds" item="userId" open="(" separator="," close=")">
      #{userId}
    </foreach>
    and is_deleted = 0
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    update t_user set is_deleted = 1 where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="hk.ljx.fishhub.count.biz.domain.dataobject.UserCountDO">
    update t_user
    set fans_count = #{fansTotal},
        following_count = #{followingTotal},
        note_count = #{noteTotal},
        like_count = #{likeTotal},
        collect_count = #{collectTotal}
    where id = #{userId}
  </insert>

  <insert id="insertSelective" parameterType="hk.ljx.fishhub.count.biz.domain.dataobject.UserCountDO">
    update t_user
    <set>
      <if test="fansTotal != null">
        fans_count = #{fansTotal},
      </if>
      <if test="followingTotal != null">
        following_count = #{followingTotal},
      </if>
      <if test="noteTotal != null">
        note_count = #{noteTotal},
      </if>
      <if test="likeTotal != null">
        like_count = #{likeTotal},
      </if>
      <if test="collectTotal != null">
        collect_count = #{collectTotal},
      </if>
    </set>
    where id = #{userId}
  </insert>

  <update id="insertOrUpdateFansTotalByUserId" parameterType="map">
    UPDATE t_user
    SET fans_count = GREATEST(0, fans_count + #{count})
    WHERE id = #{userId}
  </update>

  <update id="insertOrUpdateLikeTotalByUserId" parameterType="map">
    UPDATE t_user
    SET like_count = GREATEST(0, like_count + #{count})
    WHERE id = #{userId}
  </update>

  <update id="insertOrUpdateNoteTotalByUserId" parameterType="map">
    UPDATE t_user
    SET note_count = GREATEST(0, note_count + #{count})
    WHERE id = #{userId}
  </update>

  <update id="insertOrUpdateCollectTotalByUserId" parameterType="map">
    UPDATE t_user
    SET collect_count = GREATEST(0, collect_count + #{count})
    WHERE id = #{userId}
  </update>

  <update id="insertOrUpdateFollowingTotalByUserId" parameterType="map">
    UPDATE t_user
    SET following_count = GREATEST(0, following_count + #{count})
    WHERE id = #{userId}
  </update>

  <update id="updateByPrimaryKeySelective" parameterType="hk.ljx.fishhub.count.biz.domain.dataobject.UserCountDO">
    update t_user
    <set>
      <if test="fansTotal != null">
        fans_count = #{fansTotal},
      </if>
      <if test="followingTotal != null">
        following_count = #{followingTotal},
      </if>
      <if test="noteTotal != null">
        note_count = #{noteTotal},
      </if>
      <if test="likeTotal != null">
        like_count = #{likeTotal},
      </if>
      <if test="collectTotal != null">
        collect_count = #{collectTotal},
      </if>
    </set>
    where id = #{userId}
  </update>

  <update id="updateByPrimaryKey" parameterType="hk.ljx.fishhub.count.biz.domain.dataobject.UserCountDO">
    update t_user
    set fans_count = #{fansTotal},
      following_count = #{followingTotal},
      note_count = #{noteTotal},
      like_count = #{likeTotal},
      collect_count = #{collectTotal}
    where id = #{userId}
  </update>
</mapper>
