<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hk.ljx.fishhub.note.biz.domain.mapper.NoteDOMapper">
  <resultMap id="BaseResultMap" type="hk.ljx.fishhub.note.biz.domain.dataobject.NoteDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="creator_id" jdbcType="BIGINT" property="creatorId" />
    <result column="channel_id" jdbcType="BIGINT" property="channelId" />
    <result column="topic_id" jdbcType="BIGINT" property="topicId" />
    <result column="topic_name" jdbcType="VARCHAR" property="topicName" />
    <result column="is_top" jdbcType="BIT" property="isTop" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="img_uris" jdbcType="VARCHAR" property="imgUris" />
    <result column="video_uri" jdbcType="VARCHAR" property="videoUri" />
    <result column="visible" jdbcType="TINYINT" property="visible" />
    <result column="like_count" jdbcType="INTEGER" property="likeCount" />
    <result column="collect_count" jdbcType="INTEGER" property="collectCount" />
    <result column="comment_count" jdbcType="INTEGER" property="commentCount" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="content_uuid" jdbcType="VARCHAR" property="contentUuid" />
    <result column="action_id" jdbcType="BIGINT" property="actionId" />
    <result column="action_time" jdbcType="TIMESTAMP" property="actionTime" />
  </resultMap>

  <sql id="Base_Column_List">
    id, title, creator_id, channel_id, topic_id, topic_name, is_top, `type`, img_uris,
    video_uri, visible, like_count, collect_count, comment_count, create_time, update_time, `status`, content_uuid
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_note
    where id = #{id,jdbcType=BIGINT} and status = 1
  </select>

  <select id="selectCountByNoteId" resultType="int">
    select count(1) from t_note where id = #{noteId} and status = 1
  </select>

  <select id="selectCreatorIdByNoteId" resultType="long">
    select creator_id from t_note where id = #{noteId} and status = 1
  </select>

  <select id="selectAccessInfoByNoteId" resultMap="BaseResultMap">
    select id, creator_id, visible
    from t_note
    where id = #{noteId} and status = 1
  </select>

  <select id="selectInteractionInfoByNoteId" resultMap="BaseResultMap">
    select id, creator_id, visible, status
    from t_note
    where id = #{noteId}
  </select>

  <select id="selectInteractionInfosByNoteIds" resultMap="BaseResultMap">
    select id, creator_id, visible, status
    from t_note
    where id in
    <foreach collection="noteIds" item="noteId" open="(" separator="," close=")">
      #{noteId}
    </foreach>
  </select>

  <select id="selectAccessInfosByNoteIds" resultMap="BaseResultMap">
    select id, creator_id, visible
    from t_note
    where id in
    <foreach collection="noteIds" item="noteId" open="(" separator="," close=")">
      #{noteId}
    </foreach>
    and status = 1
  </select>

  <select id="selectDiscoverPageListByCursor" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_note
    where visible = 0 and status = 1
    <if test="channelId != null and channelId &gt; 0">
      and channel_id = #{channelId}
    </if>
    <if test="cursor != null and cursor &gt; 0">
      <![CDATA[ and id < #{cursor} ]]>
    </if>
    order by id desc
    limit #{limit}
  </select>

  <select id="selectPublishedNoteListByUserIdAndCursor" resultMap="BaseResultMap">
    select id, title, creator_id, is_top, type, img_uris, video_uri, like_count, collect_count, comment_count
    from t_note
    where creator_id = #{creatorId} and status = 1
    <if test="!includePrivate">
      and visible = 0
    </if>
    <if test="cursor != null and cursor &gt; 0">
      <![CDATA[ and id < #{cursor} ]]>
    </if>
    order by id desc
    limit 20
  </select>

  <select id="selectCollectedNoteListByUserIdAndCursor" resultMap="BaseResultMap">
    select n.id, n.title, n.creator_id, n.channel_id, n.is_top, n.type, n.img_uris, n.video_uri,
           n.like_count, n.collect_count, n.comment_count,
           c.id as action_id, c.create_time as action_time
    from t_note_collection c
    inner join t_note n on n.id = c.note_id
    where c.user_id = #{userId} and n.visible = 0 and n.status = 1
    <if test="cursorTime != null and cursorId != null">
      <![CDATA[
        and (c.create_time < #{cursorTime} or (c.create_time = #{cursorTime} and c.id < #{cursorId}))
      ]]>
    </if>
    order by c.create_time desc, c.id desc
    limit 10
  </select>

  <select id="selectLikedNoteListByUserIdAndCursor" resultMap="BaseResultMap">
    select n.id, n.title, n.creator_id, n.channel_id, n.topic_id, n.topic_name, n.is_top, n.`type`, n.img_uris,
           n.video_uri, n.visible, n.like_count, n.collect_count, n.comment_count, n.create_time, n.update_time, n.`status`, n.content_uuid,
           l.id as action_id, l.create_time as action_time
    from t_note_like l
    inner join t_note n on l.note_id = n.id
    where l.user_id = #{userId} and n.visible = 0 and n.status = 1
    <if test="cursorTime != null and cursorId != null">
      <![CDATA[
        and (l.create_time < #{cursorTime} or (l.create_time = #{cursorTime} and l.id < #{cursorId}))
      ]]>
    </if>
    order by l.create_time desc, l.id desc
    limit 10
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_note
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="hk.ljx.fishhub.note.biz.domain.dataobject.NoteDO">
    insert into t_note (id, title, 
      creator_id, channel_id, topic_id, topic_name,
      is_top, `type`, img_uris, video_uri, 
      visible, like_count, collect_count, comment_count,
      create_time, update_time, 
      `status`, content_uuid)
    values (#{id,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, 
      #{creatorId,jdbcType=BIGINT}, #{channelId,jdbcType=BIGINT}, #{topicId,jdbcType=BIGINT}, #{topicName,jdbcType=VARCHAR},
      #{isTop,jdbcType=BIT}, #{type,jdbcType=TINYINT}, #{imgUris,jdbcType=VARCHAR}, #{videoUri,jdbcType=VARCHAR}, 
      #{visible,jdbcType=TINYINT}, IFNULL(#{likeCount,jdbcType=INTEGER}, 0), IFNULL(#{collectCount,jdbcType=INTEGER}, 0),
      IFNULL(#{commentCount,jdbcType=INTEGER}, 0),
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=TINYINT}, #{contentUuid,jdbcType=VARCHAR})
  </insert>

  <insert id="insertSelective" parameterType="hk.ljx.fishhub.note.biz.domain.dataobject.NoteDO">
    insert into t_note
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="creatorId != null">
        creator_id,
      </if>
      <if test="channelId != null">
        channel_id,
      </if>
      <if test="topicId != null">
        topic_id,
      </if>
      <if test="topicName != null">
        topic_name,
      </if>
      <if test="isTop != null">
        is_top,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="imgUris != null">
        img_uris,
      </if>
      <if test="videoUri != null">
        video_uri,
      </if>
      <if test="visible != null">
        visible,
      </if>
      <if test="likeCount != null">
        like_count,
      </if>
      <if test="collectCount != null">
        collect_count,
      </if>
      <if test="commentCount != null">
        comment_count,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="contentUuid != null">
        content_uuid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="creatorId != null">
        #{creatorId,jdbcType=BIGINT},
      </if>
      <if test="channelId != null">
        #{channelId,jdbcType=BIGINT},
      </if>
      <if test="topicId != null">
        #{topicId,jdbcType=BIGINT},
      </if>
      <if test="topicName != null">
        #{topicName,jdbcType=VARCHAR},
      </if>
      <if test="isTop != null">
        #{isTop,jdbcType=BIT},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="imgUris != null">
        #{imgUris,jdbcType=VARCHAR},
      </if>
      <if test="videoUri != null">
        #{videoUri,jdbcType=VARCHAR},
      </if>
      <if test="visible != null">
        #{visible,jdbcType=TINYINT},
      </if>
      <if test="likeCount != null">
        #{likeCount,jdbcType=INTEGER},
      </if>
      <if test="collectCount != null">
        #{collectCount,jdbcType=INTEGER},
      </if>
      <if test="commentCount != null">
        #{commentCount,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="contentUuid != null">
        #{contentUuid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="hk.ljx.fishhub.note.biz.domain.dataobject.NoteDO">
    update t_note
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="creatorId != null">
        creator_id = #{creatorId,jdbcType=BIGINT},
      </if>
      <if test="channelId != null">
        channel_id = #{channelId,jdbcType=BIGINT},
      </if>
      <if test="topicId != null">
        topic_id = #{topicId,jdbcType=BIGINT},
      </if>
      <if test="topicName != null">
        topic_name = #{topicName,jdbcType=VARCHAR},
      </if>
      <if test="isTop != null">
        is_top = #{isTop,jdbcType=BIT},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=TINYINT},
      </if>
      <if test="imgUris != null">
        img_uris = #{imgUris,jdbcType=VARCHAR},
      </if>
      <if test="videoUri != null">
        video_uri = #{videoUri,jdbcType=VARCHAR},
      </if>
      <if test="visible != null">
        visible = #{visible,jdbcType=TINYINT},
      </if>
      <if test="likeCount != null">
        like_count = #{likeCount,jdbcType=INTEGER},
      </if>
      <if test="collectCount != null">
        collect_count = #{collectCount,jdbcType=INTEGER},
      </if>
      <if test="commentCount != null">
        comment_count = #{commentCount,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=TINYINT},
      </if>
      <if test="contentUuid != null">
        content_uuid = #{contentUuid,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <update id="updateByPrimaryKey" parameterType="hk.ljx.fishhub.note.biz.domain.dataobject.NoteDO">
    update t_note
    set title = #{title,jdbcType=VARCHAR},
      channel_id = #{channelId,jdbcType=BIGINT},
      topic_id = #{topicId,jdbcType=BIGINT},
      topic_name = #{topicName,jdbcType=VARCHAR},
      `type` = #{type,jdbcType=TINYINT},
      img_uris = #{imgUris,jdbcType=VARCHAR},
      video_uri = #{videoUri,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      content_uuid = #{contentUuid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <update id="logicalDeleteByPrimaryKey" parameterType="hk.ljx.fishhub.note.biz.domain.dataobject.NoteDO">
    update t_note
    set status = 2,
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
      and `status` = 1
  </update>

  <update id="updateVisibility" parameterType="hk.ljx.fishhub.note.biz.domain.dataobject.NoteDO">
    update t_note
    set visible = #{visible,jdbcType=TINYINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT} and creator_id = #{creatorId,jdbcType=BIGINT}
  </update>

  <update id="updateIsTop" parameterType="hk.ljx.fishhub.note.biz.domain.dataobject.NoteDO">
    update t_note
    set is_top = #{isTop,jdbcType=BIT},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT} and creator_id = #{creatorId,jdbcType=BIGINT}
  </update>

  <update id="updateLikeCount">
    update t_note
    set like_count = GREATEST(0, like_count + #{delta})
    where id = #{noteId}
  </update>

  <update id="updateCollectCount">
    update t_note
    set collect_count = GREATEST(0, collect_count + #{delta})
    where id = #{noteId}
  </update>

  <update id="updateCommentCount">
    update t_note
    set comment_count = GREATEST(0, comment_count + #{delta})
    where id = #{noteId}
  </update>

</mapper>
