<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hk.ljx.fishhub.note.biz.domain.mapper.NoteLikeDOMapper">
  <resultMap id="BaseResultMap" type="hk.ljx.fishhub.note.biz.domain.dataobject.NoteLikeDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="note_id" jdbcType="BIGINT" property="noteId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, note_id, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_note_like
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectCountByUserIdAndNoteId" resultType="int" parameterType="map">
    select count(1) from t_note_like where user_id = #{userId} and note_id = #{noteId} limit 1
  </select>

  <select id="selectByUserId" resultMap="BaseResultMap" parameterType="map">
    select note_id from t_note_like
    where user_id = #{userId}
  </select>

  <select id="selectNoteIsLiked" parameterType="map" resultType="int">
    select count(1) from t_note_like where user_id = #{userId} and note_id = #{noteId} limit 1
  </select>

  <select id="selectLikedByUserIdAndLimit" resultMap="BaseResultMap" parameterType="map">
    select note_id, create_time from t_note_like
    where user_id = #{userId} order by create_time desc limit #{limit}
  </select>

  <select id="selectByUserIdAndNoteIds" resultMap="BaseResultMap" parameterType="map">
    select note_id, user_id from t_note_like
    where user_id = #{userId}
      and note_id in
    <foreach collection="noteIds" item="noteId" open="(" separator="," close=")">
      #{noteId}
    </foreach>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_note_like
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <delete id="deleteByNoteId" parameterType="long">
    delete from t_note_like
    where note_id = #{noteId}
  </delete>
  <insert id="insert" parameterType="hk.ljx.fishhub.note.biz.domain.dataobject.NoteLikeDO">
    insert into t_note_like (id, user_id, note_id, create_time)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{noteId,jdbcType=BIGINT}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>

  <insert id="insertOrUpdate" parameterType="hk.ljx.fishhub.note.biz.domain.dataobject.NoteLikeDO">
    <choose>
      <when test="status == 1 or status == null">
        INSERT INTO t_note_like (user_id, note_id, create_time)
        VALUES (#{userId}, #{noteId}, #{createTime})
        ON DUPLICATE KEY UPDATE create_time = VALUES(create_time)
      </when>
      <otherwise>
        DELETE FROM t_note_like WHERE user_id = #{userId} AND note_id = #{noteId}
      </otherwise>
    </choose>
  </insert>

  <insert id="insertSelective" parameterType="hk.ljx.fishhub.note.biz.domain.dataobject.NoteLikeDO">
    insert into t_note_like
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="noteId != null">
        note_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="noteId != null">
        #{noteId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="hk.ljx.fishhub.note.biz.domain.dataobject.NoteLikeDO">
    update t_note_like
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="noteId != null">
        note_id = #{noteId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="hk.ljx.fishhub.note.biz.domain.dataobject.NoteLikeDO">
    update t_note_like
    set user_id = #{userId,jdbcType=BIGINT},
      note_id = #{noteId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <insert id="insertOrUpdateBatch" parameterType="list">
    INSERT INTO t_note_like (user_id, note_id, create_time)
    VALUES
    <foreach collection="noteLikes" item="noteLike" separator=",">
      (#{noteLike.userId}, #{noteLike.noteId}, #{noteLike.createTime})
    </foreach>
    ON DUPLICATE KEY UPDATE create_time = VALUES(create_time)
  </insert>
</mapper>
