<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hk.ljx.fishhub.comment.biz.domain.mapper.MqConsumeRecordMapper">
    <select id="exists" resultType="int">
        select count(1) from t_mq_consume_record
        where consumer_group = #{consumerGroup} and message_key = #{messageKey}
    </select>

    <insert id="insert">
        insert into t_mq_consume_record (consumer_group, message_key, create_time)
        values (#{consumerGroup}, #{messageKey}, now())
    </insert>
</mapper>
